<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BANKProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InsertJdbc</display-name>
    <servlet-name>InsertJdbc</servlet-name>
    <servlet-class>com.InsertJdbc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertJdbc</servlet-name>
    <url-pattern>/InsertJdbc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteJdbc</display-name>
    <servlet-name>DeleteJdbc</servlet-name>
    <servlet-class>com.DeleteJdbc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteJdbc</servlet-name>
    <url-pattern>/DeleteJdbc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateJdbc</display-name>
    <servlet-name>UpdateJdbc</servlet-name>
    <servlet-class>com.UpdateJdbc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateJdbc</servlet-name>
    <url-pattern>/UpdateJdbc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayJdbc</display-name>
    <servlet-name>DisplayJdbc</servlet-name>
    <servlet-class>com.DisplayJdbc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayJdbc</servlet-name>
    <url-pattern>/DisplayJdbc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>validServlet</display-name>
    <servlet-name>validServlet</servlet-name>
    <servlet-class>com.validServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>validServlet</servlet-name>
    <url-pattern>/validServlet</url-pattern>
  </servlet-mapping>
</web-app>